<div class = "listOfPosts">
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="30px">
    <mat-grid-tile>
      <img src="https://avatars.mds.yandex.net/get-pdb/2885096/6e86d52f-a186-45a2-bddb-453616a504bc/s1200?webp=false" (click)="OpenPost()" >
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://avatars.mds.yandex.net/get-pdb/2885096/6e86d52f-a186-45a2-bddb-453616a504bc/s1200?webp=false">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://avatars.mds.yandex.net/get-pdb/2885096/6e86d52f-a186-45a2-bddb-453616a504bc/s1200?webp=false0">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://avatars.mds.yandex.net/get-pdb/2885096/6e86d52f-a186-45a2-bddb-453616a504bc/s1200?webp=false">
    </mat-grid-tile>
  </mat-grid-list>
</div>
